.card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: 25vw;
    background-color: #c1dce9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 5vh;
  }
  